name: Release
on:
  push:
    tags:
      - '@rightcapital/**'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rightcapitalhq/action-beachball-release@main
        with:
          tag: ${{ github.ref_name }}
          repo-url: ${{ github.server_url }}/${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
